<main>
    <div class="headlines">
        {{#each articles}}
            <div class="headline">
                <a href="">{{headline}}</a>
                <p>{{summary}}</p>
                <hr>
            </div>
        {{/each}}
    </div>
    <div class="article">
        <h2></h2>
        <p></p>
    </div>
    <div class="comments"></div>
</main>